<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_external">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Внешнеэкономическая деятельность</h1>
        <div class="top-block__description">
          
        </div>
      </div>
    </div>
  </header>
  <div class="description">
    <div class="container">
        <p>Комплексные услуги по подбору и выстраиванию наиболее экономически эффективной модели ведения ВЭД (поиск и проверка зарубежных поставщиков или покупателей, агентов и транспортных компаний, оптимальное ценообразование, построение логистических цепочек, составление и заключение внешнеторгового контракта, сопровождение внешнеэкономической сделки, включая оформление паспорта сделки и соблюдение требований валютного, таможенного законодательства, получение разрешительных документов государственных контролирующих органов, классификационных решений, сертификация, таможенное оформление, уплата таможенных платежей, взаимодействие с банками, таможней, транспортными компаниями, экспедиторами, складами, агентами</p>
    </div>
  </div>

  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>