<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_about">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Группа СТК</h1>
        <div class="top-block__description">
          <p>Мы работаем в рамках правового поля и <br/>в строгом соответствии с действующим законодательством.</p>
          <!-- <p>Сотрудничество со всеми нашими Клиентами строится на условиях соблюдения строгой конфиденциальности.</p> -->
        </div>
      </div>
    </div>
  </header>
  <div class="description">
    <div class="container">
        <p><strong>Наши ценности:</strong></p>
        <ul>
          <li>конфиденциальность</li>
          <li>правовая безопасность</li>
          <li>добросовестность</li>
          <li>разумность</li>
        </ul>
    </div>
  </div>
  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>