<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_antitrust">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Антимонопольная практика</h1>
      </div>
    </div>
  </header>
  <div class="description">
    <div class="container">
      <ul>
        <li>Консультирование по применению антимонопольного законодательства</li>
        <li>Правовая проверка договоров и внутренних документов компании на соответствие антимонопольному законодательству </li>
        <li>Представление интересов компании в антимонопольных органах</li>
        <li>Защита интересов компании в спорах с антимонопольными органами</li>
        <li>Правовое сопровождение тендерных процедур</li>
      </ul>
    </div>
  </div>
  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>