<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_complex">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Комплексное юридическое сопровождение бизнеса</h1>
        <div class="top-block__description">
          
        </div>
      </div>
    </div>
  </header>
  <div class="description">
    <div class="container">
        <ul> <li>Представительство интересов Заказчика на переговорах с его контрагентами по условиям заключения, исполнения и расторжения хозяйственных договоров.</li> <li>Подготовка обзоров изменений действующего законодательства РФ и судебной практики, содержание которых регулирует сферу правоотношений, в рамках деятельности Компании.</li> <li>Представление интересов в судах.</li> <li>Внесение изменений в учредительные документы и ЕГРЮЛ.</li> <li>Сопровождение корпоративных процедур (общие собрания, советы директоров, правление).</li> <li>Консультирование по вопросам правоприменительной практики гражданского, трудового, антимонопольного законодательства Российской Федерации.</li> <li>Разработка внутренних документов Компании.</li> <li>Представление интересов в государственных органах, включая получение разрешений, согласований, представительств.</li> <li>Сопровождение сделок по слиянию и поглощению.</li> <li>Разукрупнение, включая отчуждение непрофильных активов.</li> <li>Создание, реорганизация и ликвидация юридических лиц различных организационно-правовых форм.</li> <li>Корпоративная реструктуризация.</li> <li>Правовой аудит / Due diligence.</li> <li>Разрешение корпоративных споров.</li> <li>Корпоративное управление.</li> </ul>
    </div>
  </div>

  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>