<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_corporate">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Корпоративная практика, слияния и поглощения</h1>
        <div class="top-block__description">
          
        </div>
      </div>
    </div>
  </header>
  
  <div class="description">
    <div class="container">
        <ul>
            <li>Создание, реорганизация и ликвидация юридических лиц различных организационно-правовых форм</li>
            <li>Корпоративная реструктуризация</li>
            <li>Разукрупнение, включая отчуждение непрофильных активов</li>
            <li>Разработка первичных учредительных документов юридического лица</li>
            <li>Внесение изменений учредительные документы</li>
            <li>Проведение общих собраний участников (акционеров/членов партнерства) и подготовка решений единственных участников</li>
            <li>Разработка внутренних положений, регламентирующих работу исполнительных органов</li>
            <li>Покупка и продажа долей или акций</li>
            <li>Смена генерального директора</li>
        </ul>            
    </div>
  </div>

  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>