<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_external">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Внешнеэкономическая деятельность</h1>
        <div class="top-block__description">
          
        </div>
      </div>
    </div>
  </header>
  <div class="description">
    <div class="container">
        <p></p>
          <ul>
            <li>Комплексные услуги по подбору и выстраиванию наиболее экономически эффективной модели ведения ВЭД</li>
            <li>Подготовка и сопровождение внешнеэкономических сделок</li>
            <li>Представление интересов компаний во взаимоотношениях с банками, таможенными органами, страховыми компаниями, транспортными компаниями, экспедиторами, складами, агентами</li>
            <li>Консультирование по вопросам получения классификационных решений и сертификации</li>
            <li>Защита интересов компании в спорах, связанных с внешнеэкономической деятельностью</li>
            
          </ul>
    </div>
  </div>

  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>