<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_intellectual">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Защита интеллектуальной собственности</h1>
        <div class="top-block__description">
          
        </div>
      </div>
    </div>
  </header>
  <div class="description">
    <div class="container">
      <ul>
        <li>Оформление права интеллектуальной собственности (личных имущественных и неимущественных прав на объекты интеллектуальной собственности)</li>
        <li>Содействие в составлении и регистрации лицензионных договоров и договоров передачи прав</li>
        <li>Юридическое сопровождение защиты прав на объекты интеллектуальной собственности и урегулированию споров в этой области</li>
        <li>Сопровожение процедуры включения в таможенный реестр объектов интеллектуальной собственности (ТРОИС)</li>

      </ul>
    </div>
  </div>

  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>