<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <!-- Bootstrap CSS -->
</head>

<body>
  <header class="header header_realty">
    <div class="header__bg header__bg_blue"></div>
    <div class="header__top">
      <div class="header__top-bg"></div>
      <div class="container">
        <%- include('commons/logo', {index: false}) %>
        <%- include commons/main-menu %>
        <%- include commons/phone %>
      </div>
    </div>
    <div class="header__bottom top-block">
      <div class="container">
        <h1 class="main-title">Сопровождение строительства и сделок с недвижимостью</h1>
        <div class="top-block__description">
          
        </div>
      </div>
    </div>
  </header>
  <div class="description">
    <div class="container">
    <ul>
        <li>Сопровождение сделок с недвижимостью</li>
        <li>Правовая экспертиза сделок с недвижимостью</li>
        <li>Оформление права собственности и разрешительной документации на строительство</li>
        <li>Сопровождение сделок по заключению договоров аренды и субаренды</li>
        <li>Оценка возможных юридических рисков при заключении договоров с недвижимостью</li>
        <li>Изменение вида использования земельных участков</li>
        <li>Постановка земельных участков на кадастровый учет</li>
        <li>Оформление градостроительных планов земельных участков (ГПЗУ)</li>
    </ul>
        <p></p>
    </div>
  </div>

  <%- include commons/advantages %>
  <%- include commons/contacts %>
  <%- include commons/footer %>



</body>

</html>